body {
  background-image: url('vecteezy_blue-background-dark-blue-abstract-background-geometry_9751175.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
    color: #ffffff;
}

p {
    color: #ffffff;
}

div {
    background-color: #000136;
}

.navbar {
    background-color: #0a38ad;
    display: flex;
    width: 300px;
    text-align: center;
    
}

.links {
    flex-grow: 1;
    margin: 5px;
    padding: 10px;
    background-color:rgb(94, 122, 223);
}